 {% extends "base.html" %}

  {% block title %} cnn {% endblock %}

        {% block content %}
    <style>
  img{
  width:60%;
  }

  .img3{display:none;
}
.second-h2{display:none;}
    </style>

    <div class="container">
              <center>

                  <h1>  <h2 class="first-h2" id="first_h2"> Accuracy and Loss Plot Graph for CNN Model</h2>
                      <h2 class="second-h2" id="second_h2"> Result Analysis for CNN Model</h2> <span class="Result_Analysis_btn">
                          <input  type="button" onclick="show1()" value="CNN Plot graphs">
                          <input  type="button" onclick="show()" value="Result Analysis">
                          </span><br></h1>
                 <img class="img1" id="image2" src="/static/graphs/accuracy.png"  alt="">
                  <img class="img2 " id="image1" src="/static/graphs/loss.png"  alt="">

                  <div class="hide"><br>
                   <img class="img2 img3" id="image3" src="/static/graphs/classification_report.png"  alt="">
                  <img class=" img1 img3" id="image4" src="/static/graphs/confusion_matrix.png"  alt="">
                  </div>
              </center>
        </div>
<script>
    var img1 = document.getElementById('image1');
     var img2 = document.getElementById('image2');
      var img3 = document.getElementById('image3');
       var img4 = document.getElementById('image4');
       var h1 = document.getElementById('first_h2');
        var h2 = document.getElementById('second_h2');

       function show(){
       img1.style.display='none';
       img2.style.display='none';
       img3.style.display='block';
       img4.style.display='block';
       h1.style.display='none';
       h2.style.display='block';

       }
        function show1(){
       img1.style.display='inline';
       img2.style.display='inline';
       img3.style.display='none';
       img4.style.display='none';
         h1.style.display='block';
         h2.style.display='none';
       }
</script>

</div>

 {% endblock %}